@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Train+One&display=swap');

/*Configurações Geral*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /*Escondendo a barrinha*/
    font-family: 'Roboto Slab', serif;;
    list-style: none; /*Tirando o formato de lista*/
    box-sizing: border-box; 
    background: #000;
}


/*Configurações da NavBar*/
nav{
    position: fixed; /*Barra Fixa*/
    z-index: 100; /*Sobreposição Geral*/
    height: 8vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.logo{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding-top: 20px;
}

nav .nav-links ul{
    display: flex;
    flex-direction: row;
}

nav .nav-links ul li{
    padding: 0 4px;
    list-style: none;
} 

nav .nav-links ul li img{ /* Diminui a imagem para caber dentro da Navbar*/
    transform: scale(0.45);
}

section{
    height: 100vh;
    overflow: hidden; /*Tira a barrinha*/
}

.bg img{
    width: 109vw;
    height: 109vh;
    filter: brightness(0.6);
}

.beatle{
    position: absolute !important;
    left: 15vw !important;
    top: 35vh !important;
}

.beatle img{
    width: 89%;
    filter: brightness(1);
}

.text{
    position: absolute !important;
    left: 38vw !important;
    top: 10vh !important;
}

.text img{
    width: 50%;
    filter: brightness(1);
}

.placa{ /*Configuração da camada 2*/
    left: -90px !important;
    bottom: -10px !important;
    top: unset !important;
}

.placa img{
    width: 90%;
    z-index: 2;
    left: 1px;
    top: 20vh !important;
    filter: brightness(0.6);
}

.music{
    left: 1000px !important;
    bottom: -10px !important;
    width: 90%;
    z-index: 2;
    top: 90vh !important;
    filter: brightness(0.7);
}

.sectiontwo{
    left: 0;
    color: #fff;
    font-family: 'Train One', arial;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 5px;
}    

.sectiontres .jumper img{
    position: absolute;
    height: 400px;
    top: 950px;
    left: 510px;
    filter: brightness(0.8);
}

.sectiontres{
    height: 77vh;
}

.sectiontres .text1{
    display: flex;
    margin-left: 75px;
    width: 500px;
    color: #fff;
    text-align: justify;
}

.sectiontres .detalhe{
    margin-top: 90px;
}

.sectiontres .text1 h4{
    font-size: 25px;
}

.music{
    margin-top: 60px;
}

.image video{
    position: relative;
    width: 885px;
    margin-top: 0px;
    margin-left: 200px;
    margin-bottom: 90px;
}


.sectionfour{
    margin-left: 100px;
    margin-top: 10px;
    height: 110vh;
}



.container{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.container .card{
    margin-right: 10px;
}
.card{
    width: 460px;
    height: 280px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    margin-left: 5px;
}

.card:hover{
    transform: translateY(20px);
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #205072d3, #329D9C); 
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #000;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    bottom: 10px;
    left: 10px;
}
 
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}


.intregrantes h2{
    left: 0;
    color: #fff;
    font-family: 'Train One', arial;
    margin-left: 400px;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sectionfour{
    margin-bottom: 30px;
}

.sectionfour .btn{
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    background: rgb(209, 23, 23);
    width: 300px;
    margin-left: 400px;
    padding: 15px;
}

.sectionfour .btn a{
    color: #fff;
    text-decoration: none;
}

.sectionfour .btn:hover{
    background: #000;
    border: 2px solid rgb(209, 23, 23);;
}


/*Responsividade*/

@media (max-width: 790px){
    .sectionfour .btn{
        margin-top: 40px;
        width: 200px;
        margin-left: 50px;
        font-size: 10px;
    }   
    .intregrantes h2{
        margin-left: 50px;
        font-size: 35px;
    } 
    .sectionfour{
        margin-left: 10px;
    }
}

@media (max-width: 673px){
    .image video{
        width: 10px;
        position: unset;
        visibility: hidden;
    }
    .text1 .jumper img{ 
        visibility: hidden;
        display: none;
    }
    
    .bg img{
        width: 100%;
        height: 109vh;
        filter: brightness(0.6);
    }
    

}
@media (max-width: 450px){
    .image video{
        width: 10px;
        position: unset;
        visibility: hidden;
    }
    .text1 .jumper img{ 
        visibility: hidden;
        display: none;
    }
    
    .bg img{
        width: 100%;
        height: 109vh;
        filter: brightness(0.6);
    }
    
    .sectionfour{
        margin-left: 10px;
    }


    .container{
        display: block;
        width: 50%;
        justify-content: none;
        margin-left: 10px;
    }

    .container .card{
        margin-right: 0px;
    }
    .card{
        width: 90px;
        height: 60px;
        display: flex;
        margin-bottom: 10px;
        margin-left: 100px;
        margin-top: 0px;
    }

    .placa{
        visibility: hidden;
    }
    .card:hover:before{
        opacity: 1;
    }


    .music{
        left: 0px !important;
        bottom: -10px !important;
        width: 40%;
    }

    .sectiontwo{
        left: 0;
        color: #fff;
        font-size: 20px;

    }    

    .sectiontres .text1{
        display: flex;
        margin-left: 15px;
        width: 500px;
    }

}